@{
    ViewBag.Title = "Index";
    ViewBag.Username = "Benjamin Correa";
    ViewBag.Rol = "Administrador";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mimi</td>
            <td>25</td>
            <td>mimi@@cyre.com.ar</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Benjamin</td>
            <td>34</td>
            <td>control.benjamin@@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Charly</td>
            <td>30</td>
            <td>charly@@indra.com.ar</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>


