
@{
    ViewBag.Title = "Actualizar Contraseña";
}



<form class="col-sm-5 container">

    <div class="form-group">
        <label>Contraseña Actual</label>
        <input type="password" class="form-control" id="actualPassword" placeholder="Contraseña Actual">
        <small class="form-text text-muted">Ingrese la contraseña que utiliza actualmente</small>
    </div>

    <br />

    <div class="form-group">
        <label>Nueva Contraseña</label>
        <input type="password" class="form-control" id="nuevaPassword" placeholder="Nueva Contraseña">

    </div>

    <div class="form-group">
        <label>Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmarPassword" placeholder="Confirmar Contraseña">
        <i class="far fa-check-circle"></i>
        <small class="form-text text-muted">Las contraseñas no coinciden</small>
        <i class="far fa-check-circle"></i>
        <i class="far fa-times-circle"></i>

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<br />
